<h2>Liste des articles</h2>
<div>
  <label>
    Type d'article:
    <select [(ngModel)]="selectedType" (change)="onTypeChange()">
      <option value="MAJOR">Majeur</option>
      <option value="MINOR">Mineur</option>
    </select>
  </label>
  <span style="margin-left: 1rem;"><a routerLink="/articles/new">Créer un article</a></span>
  <span style="margin-left: 1rem;"><a routerLink="/articles/link">Associer des articles</a></span>
</div>

<table
  *ngIf="articles && articles.length > 0"
  mat-table
  [dataSource]="articles"
  class="mat-elevation-z2 article-table"
>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let article">{{ article.id }}</td>
  </ng-container>

  <ng-container matColumnDef="designation">
    <th mat-header-cell *matHeaderCellDef>Désignation</th>
    <td mat-cell *matCellDef="let article">{{ article.designation }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Prix</th>
    <td mat-cell *matCellDef="let article">{{ article.price }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let article">
      <a [routerLink]="['/articles', article.id]">Détails</a> |
      <a [routerLink]="['/articles', article.id, 'promo']">Voir promotion</a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<p *ngIf="articles.length === 0">Aucun article trouvé pour ce type.</p>
